.section1{
  width: 97%;
  background: linear-gradient(to right, #ebf8ff, #e9d8fd);
  padding: 20px;
  height: 79vh;
}

.profile-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-header h1 {
    margin: 0;
    color:rgb(95, 94, 94);
  }
  
  .profile-actions button {
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .logout-btn {
    background-color: #f44336;
    color: white;
  }
  
  .logout-btn:hover {
    background-color: #00a3ff;
    color: white;
  }
  

  .profile-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #c5c6c7;
    border-radius: 3px;
    padding: 10px;
    gap:10px;
  }
  
  .A{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
  }

  .profile-field {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
  .profile-field strong {
    margin-right: 10px;
    color: #333;
  }
  
  .B {
    border-left: 2px solid #00a3ff;
    width: 40%; /* Adjust width as needed */
    padding-left: 10px;
  }
  
  .C {
    margin-bottom: 30px;
    padding-left: 10px;
  }

  .profile-field2 {
    display: flex;
    justify-content: flex-start;
    padding-left: 0px; /* Indentation for alignment */
    margin-bottom: 8px; /* Space between fields */
  }
  
  .profile-field2 strong {
    display: block;
    color: #333; /* Decent text color */
  }
  
  .profile-field2:first-of-type strong {
    font-size: 25px; /* Larger font size for the name */
    color: #00a3ff;/* Darker color for the name */
    font-weight: bold;
  }
  
  .profile-field2:nth-of-type(2) strong {
    font-size: 16px; /* Smaller font size for the email */
    color: #555; /* Slightly lighter color for email */
    font-weight: normal;
  }
  
    
  .profile-field2:nth-of-type(3) strong {
    font-size: 16px; /* Smaller font size for the email */
    color: #555; /* Slightly lighter color for email */
    font-weight: normal;
    margin-top: 3px;
  }

  .userIcon1 {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Makes the icon circular */
    background-color:  #91c7de;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .userIcon1 i {
    color: white;
    font-size: 5.5rem;
  }