.help-container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background: linear-gradient(to right, #ebf8ff, #e9d8fd);
}

.help-box {
  width: 500px;
  height: 250px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-box:hover {
  transform: scale(1.02);
}

.page {
  text-align: center;
}

.page h2 {
  margin-bottom: 10px;
  color: #333;
}

.page p {
  color: #555;
}

.navigation-buttons {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.navigation-buttons button {
  background-color: #00a3ff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navigation-buttons button:hover {
  background-color: #007acc;
}

/* Style for back button */
.back-button {
  background-color: #dc3545;
}

.back-button:hover {
  background-color: #c82333;
}
