.instructions-list {
    width: 640px;
    border-radius: 8px;
    border: 5px solid #00a3ff;
    padding: 10px;
    list-style-position: inside; /* Ensures bullets are aligned inside the container */
}

.instruction {
    margin: 10px 0;
    padding-left: 20px; /* Indentation for the list items */
    letter-spacing: 0.5px;
    color: black;
    font-weight: 400;
    text-align:left;
    list-style-position:outside ;
}

.instructions-container {
    display: flex;
    align-items: center; /* Center-aligns vertically */
    justify-content: center; /* Center-aligns horizontally */
}
